img
{
 width:300px;
 border:1px solid black;
}
body
{
	background-image: linear-gradient(rgba(255, 237, 2, 0.6), rgba(168, 19, 62,0.6),rgba(0, 77, 152,0.6));
	
}
h1
{
	font-family: "Papyrus";
}

h2
{
	font-family: "Papyrus";
}

h4
{
	font-family: "Lucida Handwriting";
}